.vagrant
.crt
.DS_Store
ucp-ca.pem
dtr-ipaddr
jenkins-ipaddr
docker112master-ipaddr
ucp-ipaddr
ucp2-ipaddr
upc3-ipaddr
ucp-fingerprint
docker_subscription.lic
ucp-bundle-admin
jenkins
backup.tar
appnode1-ipaddr
appnode2-ipaddr
appnode3-ipaddr
